{% extends 'base.html' %}



{% block content %}
  <div class="bg-gray-50">
    <div class="p-2">
      <div class="bg-white mt-5 p-3 rounded-lg border">
        <div class="flex justify-between">
          <h1 class="text-2xl font-bold">Main Account</h1>

          <div>
            <input style="font-family:arial, fontawesome" class="p-2 border border-gray-400 rounded-md" placeholder=" &#xf002; search" type="search" />
          </div>

        </div>
        <div class="flex">
          <div class="flex w-4/6 flex-col">
            <div class="mt-4">
              Graph
            </div>

            <div class="mt-10">
              <h1 class="text-lg font-bold mb-3">
                Transactions
              </h1>

              <input placeholder=" &#xf002; Search transactions" class="w-full p-2 border border-gray-400 rounded-md" type="search" style="font-family:arial, fontawesome" />

              <div class="flex py-1 border-b mt-6">
                  <span class="w-3/5 font-bold">Description</span>
                  <span class="w-1/5 font-bold">Amount</span>
                  <span class="w-1/5 font-bold">Code</span>
              </div>
              <ul>
                  {% for transaction in lts %}
                  <li class="py-2">
                      <div class="flex py-2 border-b">
                          <span class="w-3/5">{{transaction.Description}}</span>
                          <span class="w-1/5">{{transaction.Amount}}</span>
                          <span class="w-1/5">{{transaction.Code.String}}</span>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
              

            </div>
          </div>

          <div class="">
            side
          </div>
        </div>













      </div>
    </div>

  </div>




{% endblock %}
